[user]
    name = Jamie050401
    email = jamieallen050401@gmail.com
[core]
    excludesfile = ~/.gitignore
[init]
    defaultBranch = main
[safe]
    directory = ~/Development/Git.Repositories/nixos
